body{
    background: radial-gradient( 1091px at 106.5% 111.5%, rgb(250, 246, 213) 0.1%, rgb(218, 147, 93) 42.2%, rgb(137, 86, 67) 74.3%, rgb(67, 39, 39) 100.2%);
 height: 100vh;
font-family: "Lora", serif;
}
#time-date{
    font-size:17px;
}
.content{
    background-color:#eed8bf;
    background: rgba(240,240,240,0.2);
    max-width: 550px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
    border-radius: 15px;
}
a{
    color:#54322E ;
}
.city-input{
    background-color: #eed8bf;
    border: none;
    width: 75%;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
}
.search-city{
    background-color: #eed8bf;
    border: none;
    border-radius: 5px;
    padding:15px;
    font-size:17px ;
    color: rgb(118, 118, 118);

}
.code-who{
    text-align: center;
}
.icon{
    width: 80px;
    height: 90px;
}
#temp{
    font-size: 75px;
    font-weight: bolder;
}
.degree{
    font-size: 25px;
    margin-top: 15px;
}
#description{
    position: relative;
    left: 380px;
    bottom: 35px;
    margin-top: 15px;
        font-size: 25px;
}
#Humidity{
    color:#eed8bf;
}
#wind{
    color: #eed8bf;
}
.main-weather{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex{
    display: flex;
}